section#container {
    width: min(100%, 700px);
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;

    & #thread {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow-y: auto;
        scrollbar-width: none;

        & .user-message {
            background-color: var(--gray-800);
            margin-left: auto;
            width: 70%;
            padding: 16px;
            border-radius: 8px;
        }

        & .assistant-message {
            background-color: var(--gray-700);
            width: 70%;
            padding: 16px;
            border-radius: 8px;
            margin-bottom: 1rem;
        }
    }

    & #input {
        width: 100%;
        height: 80px;
        border-radius: 8px;
        padding: 8px;
        font-size: 16px;
        outline: none;
        resize: none;
        border: 1px solid var(--gray-600);
        background-color: var(--gray-700);
        position: relative;

        & #message-input {
            width: 100%;
            height: 50%;
            border: none;
            outline: none;
            resize: none;
            background-color: transparent;
            color: var(--gray-50);
            resize: none;
        }

        & #send-button {
            position: absolute;
            right: 8px;
            bottom: 8px;
            border-radius: 4px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            color: var(--gray-50);
            background-color: var(--orange-500);
            padding: 4px;
            display: flex;
            align-items: center;
            justify-content: center;

            & img {
                width: 16px;
                height: 16px;
            }
        }
    }
}
